/* 
.navbar-brand{
  height: 70px !important;
  width: 70px !important;
  padding: 25px;
}  */

.navbar{
  justify-content: space-around !important;
  
}
.search{
width :400px !important;
}

.cryptoDisplay {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.coin {
  width: 500px;
  height: 350px;
  background-color: rgb(36, 36, 36);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
}

.coin img {
  height: 100px;
}
.navbar{
  padding: 00px !important;
}
.cryptoHeader{
  margin-top :100px !important; 
 

}
.search{
  width: 75%;
  padding: 40px 20px;
}


